# 1. Dependency & Build (Biar Docker yang handle)
node_modules
dist
build

# 2. Git & Version Control (Biar build cepat)
.git
.gitignore

# 3. Environment & Secrets (Biar AMAN)
.env
.env.*
*.pem
*.key

# 4. Docker Config (Gak perlu ada di dalam container)
Dockerfile
docker-compose.yml
docker-compose.*.yml
.dockerignore

# 5. Editor/IDE Config (Sampah personal)
.idea
.vscode
*.swp
*.suo
*.ntvs*
*.njsproj
*.sln

# 6. Logs (Sampah)
npm-debug.log
yarn-debug.log
yarn-error.log
pnpm-debug.log