services:
  app:
    image: ${DOCKER_IMAGE}
    container_name: chripy_app
    restart: always
    ports:
      - "8080:8080"
    env_file:
      - .env
    depends_on:
      - postgres
  
  migrate:
    image: gomicro/goose
    container_name: goose_migrate
    env_file:
      - .env
    volumes:
      - ./schema:/db
    command: goose -dir /db up
    depends_on:
      postgres:
        condition: service_healthy
  
  postgres:
    image: postgres:18-alpine
    container_name: postgres
    restart: always
    environment:
      - POSTGRES_USER=${PG_USER}
      - POSTGRES_PASSWORD=${PG_PASS}
      - POSTGRES_DB=${PG_DB}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${PG_USER}"]
      interval: 5s
      retries: 5

volumes:
  postgres_data:


  
