services:
  app:
    image: ${DOCKER_IMAGE}
    container_name: chripy_app
    restart: always
    ports:
      - "8080:8080"
    env_file:
      - .env
    depends_on:
      - postgres
  
  migrate:
    image: gomicro/goose
    container_name: goose_migrate
    env_file:
      - .env
    volumes:
      - ./schema:/db
    command: goose -dir /db up
    depends_on:
      - postgres
  
  postgres:
    image: postgres:18-alpine
    container_name: postgres
    restart: always
    env_file:
      - .env
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      retries: 5
      
volumes:
  postgres_data:


  
